@font-face
{
font-family: 'Ledger', serif;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
  display:block;
}

body
{
  line-height:1;
}

ol,ul
{
  list-style:none;
}

blockquote,q
{
  quotes:none;
}

blockquote:
before,blockquote:after,q:before,q:after
{
  content:none;
}

table
{
  border-collapse:collapse;
  border-spacing:0;
}

.thin
{
font-family: 'Ledger', serif;
  font-weight:400;
}

.regular
{
font-family: 'Ledger', serif;
}

.work
{
  color:#CF002A;
}

.ampersand
{
  color:#999;
  font:italic 20px times new roman;
}

div#name
{
  font-size:56px;
  color:#666;
  padding:30px 0 0 30px;
}

div#name span.regular
{
  margin-left:-12px;
}

div#message
{
  font-size:18px;
  color:#999;
  padding:50px 0 0 30px;
}

div.links
{
  float:left;
  padding:50px 0 0 30px;
}

div.links.b
{
  margin:60px 0 0 30px;
}

div.links h2,div#contacts h2
{
  font:italic 24px georgia;
  color:#333;
  margin-bottom:20px;
  padding-bottom:10px;
  border-bottom:2px solid #ccc;
}

div.links h2
{
  width:250%;
}

div.links div.work div.title
{
  font-size:14px;
}

div.links div.work div.title a
{
  color:#369;
  text-decoration:none;
}

div.links div.work div.title a:hover
{
  color:#49a2fb;
}

div.links div.work div.description
{
  font-size:11px;
  color:#999;
  padding:5px 0 0 10px;
}

div#contacts
{
  float:left;
  padding:50px 0 0 120px;
}

div#contacts div.contact div.title
{
  font-size:11px;
  color:#999;
}

div#contacts div.contact div.description
{
  font-size:14px;
  color:#666;
  padding:5px 0 0;
}

span.note
{
  font-size:10px;
  color:#999;
}

div.links div.work,div#contacts div.contact
{
  padding-bottom:20px;
}